*{
    background-color: lightcyan;   
}

h1{
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 10px;
    color: crimson;
    background-color: lightskyblue; 
    text-align: center;  
}
 
#entry{  
    text-align: center;
    font-size: larger;
    font-weight: bolder; 
    color: black;          
}  

.submit{
    text-align: center; 
} 
    
input[type="submit"]:hover{
    background-color: blue;  
}
   
   
  
  
  
