*{
    background-color: lightcyan;   
}



#entry{  
    text-align: center;
    font-size: larger;
    font-weight: bolder; 
    color: black;          
} 

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px; 
    margin: 150px 100px;  
    padding: 100px;   
    box-sizing: border-box; 
    border: 5px solid black; 
    border-radius: 10px;   
}   

input[type="text"]{
    width: 50%; 
    padding: 10px;  
    border: 2px solid black;  
    border-radius: 5px;
    margin: 5px; 
    font-size: 40px;   
}   

   
  

  
